/*

@Name：广东海洋大学网页设计大赛作品
@Author：张大涛
@Site：http://www.somecat.cn

*/

/*团委信息*/
.blogerinfo {
    text-align: center;
    padding: 0 15px;
    background: #fff;
    margin-bottom: 15px;
}

.blogerinfo-figure {
    display: inline-block;
    margin: 20px auto;
}

    .blogerinfo-figure img {
        border-radius: 50px;
    }

.blogerinfo-nickname {
    font-size: 26px;
    font-weight: bold;
    margin: 0 0 15px 0;
}

.blogerinfo-introduce {
    margin: 15px auto;
    font-size: 18px;
    width: 90%;
}

.blogerinfo-location {
    color: #808080;
    margin: 15px;
}

.blogerinfo-contact {
    padding: 15px;
    padding-top: 5px;
}

    .blogerinfo-contact > a {
        padding: 0 10px;
    }
/*团委信息END*/

/*友情链接*/
.blogroll > li {
    display: inline-block;
    vertical-align: middle;
    padding: 2px 5px;
}
/*友情链接END*/

/*活动时间*/
.footprint > dt {
    color: #01AAED;
}

.footprint > dd {
    text-indent: 1.3em;
    padding: 2px 0;
}
/*END*/

/*首页背景*/
body{
    background-image: url("../images/bg.jpg");
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*搜索（移动端不提供此功能）*/
.search-keywords,
.search-submit {
    display: none;
}

@media (min-width: 992px) {
    .blog-search {
        margin-bottom: 15px;
    }

    .search-keywords,
    .search-submit {
        display: inline-block;
    }

    .search-keywords {
        width: 85%;
        float: left;
    }

        .search-keywords > input {
            border-radius: 0;
        }

    .search-submit {
        width: 14%;
        float: right;
    }

        .search-submit > .search-btn {
            display: block;
            width: 100%;
            height: 36px;
            background: #fff;
            cursor: pointer;
            float: right;
            border-radius: 1px;
            border: 1px solid #e2e2e2;
        }

            .search-submit > .search-btn:hover {
                border: 1px solid #d2d2d2;
            }

            .search-submit > .search-btn i {
                width: 13px;
                line-height: 38px;
                display: block;
                margin: 0 auto;
            }
}

.blog-module-ul .hb{
    display: block;
    width: 100%;
    height: 100%;
    margin-left: -20px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    z-index:1;
    transition-delay: 0s;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
    /* Firefox 4 */
    -moz-transition-delay: 0s;
    -moz-transition-duration: 1s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;
    /* Safari 和 Chrome */
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 1s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
    /* Opera */
    -o-transition-delay: 0s;
    -o-transition-duration: 1s;
    -o-transition-property: all;
    -o-transition-timing-function: ease;
}

.blog-module-ul .hb:hover{
        border-radius: 5px;
        transform: scale(0.95, 0.95);
        
        -ms-transform:scale(0.95, 0.95);  /* IE 9 */
        -moz-transform:scale(0.95, 0.95);     /* Firefox */
        -webkit-transform:scale(0.95, 0.95); /* Safari 和 Chrome */
        -o-transform:scale(0.95, 0.95);   /* Opera */
}

.haib{
    display: block;
    height: 100%;
}

.haib .hb{
    display: block;
    width: 48%;
    margin:2px 1%;
    height: 100%;
    float: left;
        overflow:hidden;
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        z-index:1;
        transition-delay: 0s;
        transition-duration: 1s;
        transition-property: all;
        transition-timing-function: ease;
        /* Firefox 4 */
        -moz-transition-delay: 0s;
        -moz-transition-duration: 1s;
        -moz-transition-property: all;
        -moz-transition-timing-function: ease;
        /* Safari 和 Chrome */
        -webkit-transition-delay: 0s;
        -webkit-transition-duration: 1s;
        -webkit-transition-property: all;
        -webkit-transition-timing-function: ease;
        /* Opera */
        -o-transition-delay: 0s;
        -o-transition-duration: 1s;
        -o-transition-property: all;
        -o-transition-timing-function: ease;
}

.haib .hb:hover{
        z-index: 222;
        border-radius: 5px;
        transform: scale(1.05, 1.05);
        
        -ms-transform:scale(1.05, 1.05);  /* IE 9 */
        -moz-transform:scale(1.05, 1.05);     /* Firefox */
        -webkit-transform:scale(1.05, 1.05); /* Safari 和 Chrome */
        -o-transform:scale(1.05, 1.05);   /* Opera */
}


.haib .haib-title{
        border-bottom: 1px solid #009688;
        font-size: 15px;
        font-weight: bolder;
        padding: 0 0 5px 0;
        margin-bottom: 5px;
}
